[package]
name = "rust-cuda"
version = "0.1.0"
authors = ["Momo Langenstein <ml5717@ic.ac.uk>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
host = ["rustacuda", "rust-cuda-ptx-jit/host"]
derive = ["rustacuda_derive", "rust-cuda-derive"]

[dependencies]
rustacuda_core = "0.1.2"

rustacuda = { version = "0.1.3", optional = true }
rustacuda_derive = { version = "0.1.2", optional = true }

rust-cuda-derive = { path = "rust-cuda-derive", optional = true }
rust-cuda-ptx-jit = { path = "rust-cuda-ptx-jit" }
